body {
    margin-left: 10%;
    margin-right: 10%;
}

.bayanBlock {
    display: flex;
    flex-direction: column;
    transition: all 1s;
}

.bayanBlock:hover .plus_or_cross {
    display: block;
}

.bayanBlock:hover {
    cursor: pointer 
}

.radio-toolbar label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #DAD0FF;
}
.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar input[type="radio"]:active+label {
    border: 3px solid red;
    color: red;
}

.radio-toolbar input[type="radio"]:hover+label .spanchbob {
    display: block;
}

.radio-toolbar input[type="radio"]:hover+label .crazyfrog {
    display: block;
}

.radio-toolbar input[type="radio"]:hover+label .cat {
    display: block;
}

.radio-toolbar input[type="radio"]:checked+label .spanchbob {
    display: block;
}

.radio-toolbar input[type="radio"]:checked+label .crazyfrog {
    display: block;
}

.radio-toolbar input[type="radio"]:checked+label .cat {
    display: block;
}

.radio-toolbar input[type="radio"]:checked+label .plus_or_cross {
    background-image: url('assets/png/plus.png');
}

.textblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.spanchbob {
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    width: 50%;
}

.crazyfrog {
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    width: 50%;
}

.cat {
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    width: 50%;
}

.text {
    font: bold 1em italic;
    align-items: center;
    width: 80%;
}

.plus_or_cross {
    display: none;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-image: url(assets/png/cross.png);
    align-self: center;
    transition: all 0.5s;
}

.plus_or_cross:hover {
    background-image: url('assets/png/plus.png');
}

.plus_or_cross_active {
    display: block;
}

@media (width < 500px) {

    h1 {
        font-size: 1em;
    }

    .text {
        font: bold 0.5em italic;
    }
}

@media (width > 1024px) {

    h1 {
        font-size: 3em;
    }

    .text {
        font: bold 2em italic;
    }

    .plus_or_cross {
        width: 4em;
        height: 4em;
    }
}